html, body{
    height: 95%;
}

body {
    background-color: black;
    font-family: 'Lucida Console';	
    -webkit-text-size-adjust: none;
}

.life-counter-container {
    background-color: black;
    height: 100%;
    overflow: auto;
    color: teal;
    display: inline-block; /*maybe go for block instead*/
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*border-radius: 4px;*/
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.5);*/
}

.command-line {
    width: 95%;
    background-color: inherit;
    border-style: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
}

.history {
    max-height: 92%; /* do alternate resizing with js later */
    border-style: none;			
    overflow: auto;
    border-color: inherit;
    border-style: none;
}

.command-controls {
    background-color: inherit;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.history > div {
    margin-bottom: 1em;
    display: block;
    overflow-wrap: break-word;
}

hr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
	color: inherit;
    margin-bottom: 1em;
}