html, body {
    height: 97%;
}

body {
    background-color: black;
    font-family: 'Lucida Console';	
    -webkit-text-size-adjust: none;
}

.container {
    height: 100%;
    overflow: auto;
    color: teal;
    display: inline-block;
    width: 100%;
}

.command-line {
    width: 90%;
    background-color: inherit;
    border-style: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.history {
    max-height: 90%;
    border-style: none;			
    overflow: auto;
    border-color: inherit;
    border-style: none;
}

.container__command-controls {
    width: inherit;
}
.container__command-controls > span {
    padding: 0em 0.5em 0em 0em;
    display: inline-block;
}

.history > div {
    margin-bottom: 1em;
    display: block;
    overflow-wrap: break-word;
}

hr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
	color: inherit;
    margin-bottom: 1em;
}